/.nrepl-history
/.nrepl-port
/profiles.clj
/profile.boot
/.DS_Store
/target/
*.DS_Store
*.sass-cache
*.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
